@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h2{
    margin-left: 3vh;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.containerSearchTable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 5vh;
}

.inputSearchBar{
    background-color: #f2f2f2 ;
    border: 0.7px gray solid;
    width: 25%;
    height: 200%;
}

.searchBar{

}

table {
    border-collapse: collapse;
    margin-top: 4vh;
    width: 90%;
}


td {
    border-bottom: 1px solid #e8e6e6;
    padding: 10px;
}

.enTete{
    border-top: 1.7px solid #e8e6e6;
}