body {
    display: flex;
    justify-content: center;
    align-items: center;
    height:  100vh;
    margin:  0;
    background-color: #222d41;
}

h2{
    width: 40%;
    margin: 0 auto;
    padding-bottom: 3px;
    margin-top: 1vh;
    display: flex;
    justify-content: center;
}

.form{
    width: 100%;
    padding: 30px;
    margin-top: 8vh;
    border: 1px solid #f1f1f1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    box-shadow: 10px 8px 8px black;
}

.containerForm {

}

.input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #afaeae;
    border-radius: 3px;
    opacity: 0.5;
}

.input:hover{
    background-color: white;
}

.button{
    background-color: #222d41;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.button:hover{
    background-color: white;
    color: #222d41;
    border: 1px solid #222d41;
}

a{
    text-decoration: none;
    color: black;
}


